html,
:root {
  --icon-Color            : inherit;
  --text-Color            : whitesmoke;
  --text-Color-Info       : rgb(197, 196, 196);
  --bg-Color              : white;
  --bg-Color-Secondary    : whitesmoke;
  --theme-Color-Secondary : #25d366;
  --theme-Color-Primary   : #075e54;
  --chat-Sender-Bg-Color  : #dcf8c6;
  --chat-Receiver-Bg-Color: whitesmoke;
  --chat-Hover-Color      : #e9eaeb;
  --chat-Screen-Bg        : #e5ded8;
  --loginBg-Color         : whitesmoke;
  --textInput-bg          : inherit;
  --textInput-Color       : inherit;
}





.dark {
  color                  : whitesmoke !important;
  --loginBg-Color        : #131C21;
  --icon-Color           : whitesmoke;
  --textInput-bg         : #353535;
  --textInput-Color      : whitesmoke;
  --bg-Color-Secondary   : black;
  --theme-Color          : rgb(46, 87, 46);
  --theme-Color-Secondary: hsl(120, 37%, 54%);

}

.MuiFormLabel-root {
  color: var(--textInput-Color) !important;

}

.MuiFormControl-root {
  /* background-color: #353535; */
  background-color: var(--textInput-bg);
}


body {
  width  : 100vw;
  padding: 0;
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color          : inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}